<%- include("header.ejs") %> 
<a href="/" class="link">Regresar</a>
<p class="text">El ciudadano con identificación <%= id %> y con fecha de nacimiento <%= dt %> tiene <%= z %> días de vida</p>
<img src="/img/exito3.jpg" alt="">
<%- include('footer.ejs') %>